.button {
  width: 100%;
  padding: 15px 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #444;

  background-color: #fff;
  border: 1px solid #444;
}
