.goods__list {
  @include reset-list;

  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .goods__list {
    padding: 0 50px;
    width: 768px;
    margin-bottom: 53px;
    margin-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .goods__list {
    display: flex;
    justify-content: space-between;

    padding: 0 100px;
    width: 1250px;
    margin-bottom: 58px;
    margin-top: 130px;
  }
}

.goods__item {
  margin-top: 30px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
  }
}

@media (min-width: $tablet-width) {
  .goods__item {
    position: relative;

    margin-top: 53px;

    border: 1px solid #ededed;
  }
}

@media (min-width: $desktop-width) {
  .goods__item {
    margin: 0;
    width: 318px;
  }
}

.goods__link-img {
  display: block;
  width: auto;
  height: auto;
}

.goods__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .goods__image {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .goods__image {
    position:static;

  }
}

.goods__container {
  padding-top: 33px;
  padding-bottom: 27px;

  text-align: left;

  border: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .goods__container {
    display: flex;
    flex-direction: column;

    height: 334px;
    padding-top: 28px;
    padding-left: 360px;
    padding-right: 30px;
    padding-bottom: 20px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .goods__container {
    height: 200px;
    padding-top: 27px;
    padding-left: 27px;
    padding-right: 30px;
    padding-bottom: 22px;
  }
}

.goods__link-title {
  text-decoration: none;
}

.goods__title {
  margin-bottom: 15px;
  margin-left: 28px;
  margin-right: 28px;

  @include font-bold-black;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}

@media (min-width: $tablet-width) {
  .goods__title {
    margin: 0;
    margin-bottom: 13px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .goods__title {
    margin-bottom: 10px;
  }
}

.goods__about{
  @include font-text;

  margin-bottom: 20px;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 20px;

  @include font-bold-black;
  font-size: 13px;
  font-weight: normal;

  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .goods__about {
    margin: 0;
    padding: 0;
    margin-bottom: auto;

    font-size: 15px;
    line-height: 30px;
    border: none;
  }
}

.goods__price {
  position: relative;

  display: block;
  width: 100%;

  padding-left: 28px;
  padding-right: 60px;

  @include font-bold-black;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .goods__price {
    padding: 0;
    padding-top: 27px;
    margin-bottom: 25px;

    font-size: 17px;

    border-top: 1px solid #ededed;
  }
}

@media (min-width: $desktop-width) {
  .goods__price {
    margin-bottom: 0;
  }
}

.goods__cart {
  position: absolute;
  top: 0;
  right: 28px;

  display: block;
  width: 21px;
  height: 19px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .goods__cart {
    top: 27px;
    right: 0;
  }
}
