.reviews {
  margin: 0 auto;
  margin-top: 65px;
  padding: 0 30px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;

    margin-top: 0;
    padding: 0 50px;
    padding-top: 80px;
    padding-bottom: 120px;
    width: 768px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2 dppx) {
  .reviews {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px 457px;
  }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 160px;
    padding-left: 275px;
    padding-right: 100px;
    width: 1250px;

    background-position: 100px 0;
  }
}

.reviews__title {
  @include title;

  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__title  {
    margin-bottom: 60px;

    font-size: 43px;
    line-height: 50px;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  @include font-text;

  margin-bottom: 35px;

  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__text  {
    margin-bottom: 57px;

    font-size: 17px;
    line-height: 30px;
  }
}

.reviews__author-name {
  line-height: 24px;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .reviews__author-name {
    display: block;
    margin-bottom: 5px;

    font-size: 18px;
  }
}

.reviews__author-login {
  margin-bottom: 35px;

  font-weight: 400;
  color: #444;
}

.reviews__toggles {
  padding: 0;
  margin-bottom: 52px;

  height: 52px;
}

@media (min-width: $tablet-width) {
  .reviews__toggles {
    position: absolute;
    bottom: 125px;
    right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__toggles {
    right: 100px;
  }
}

.reviews__write {
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .reviews__write {
    position: absolute;
    top: 80px;
    right: 50px;

    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__write {
    right: 100px;
  }
}
