@font-face {
    font-family: "Open Sans";
    font-weight: "normal";
    font-weight: 400;
    src: url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
    font-family: "Open Sans";
    font-weight: "normal";
    font-weight: 700;
    src: url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.woff2') format('woff2');
}

.page-body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @include font-bold-black;
}

*, *::before, *::after {
box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button::-moz-focus-inner {
  border: 0;
}
